.build
Packages
*.xcuserstate
TodoList.xcodeproj/xcuserdata
TodoList.xcodeproj/project.xcworkspace/xcuserdata/Robert.xcuserdatad/UserInterfaceState.xcuserstate
TodoList.xcodeproj
build
KituraTodoList.xcodeproj
